*{
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;800&family=Playfair+Display:wght@900&display=swap');

main{
    height: 625vh;
}

.mobile_menu{
    display: none;
}

header{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: auto;
    height: 7vh;
}

.todecacho{
    justify-content: center;
    width: 80%;
}

.logo_caixa{
    justify-content: center;
    align-items: center;
    display: flex;
}

header div{
    display: flex;
    width: 70%;
    justify-content: space-evenly;
    margin-right: -3vw;
}

.social{
    display: flex;
    justify-content: space-evenly;
    width: 14%;
    margin-right: -6vw;
    align-items: center;
}

.face{
    height: 70%;
    
}

.insta{
    height: 70%;
}

.youtube{
    height: 70%;
}

.top{
    display: flex;
}

ul {
    display: flex;
    justify-content: space-evenly;
    width: 40vw;
    align-items: center;
}

li{
    list-style: none;
    font-family: 'Montserrat', sans-serif;
    color: #9767A9;
    font-weight: 500;
    font-size: 98%;
}

li:hover{
    cursor: pointer;
    font-weight: bolder;
}

input{
    height: 3vh;
    border-radius: 20px;
    border: solid #9767A9;
    margin-top: 0.5vh;
    margin-right: -4vw;
    width: 10vw;
}

input::placeholder{
    background-image: url('/assets/lupa.png');
    background-repeat: no-repeat;
    padding-left: 3vh;
    background-size: 10%;
    background-position-x: 0.5vh;
    color: #9767A9;
    font-family: 'Playfair Display', serif;
    font-size: 1.7vh;
    font-weight: lighter;
}

.containertop{
   background-image: url(/assets/capa.png);
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
   width: 99.9%;
   height: 80vh;
   display: flex;
   justify-content: space-between;
   align-items: center;
}

h1{
    font-family: 'Playfair Display', serif;
    color: white;
    width: 25%;
    height: 36%;
    font-size: 12vh;
    position: relative;
    left: 2.3em;
    top: 8rem;
    line-height: 90%;
}

.containertop h2{
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
    color: white;
    width: 26%;
    height: 36%;
    font-size: 4.2vh;
    position: relative;
    top: 12rem;
    left: -6em;
}

.purpleBox{
    background-color: #9767A9;
    height: 40vh;
    display: flex;
    justify-content: space-around;
}

.purpleBox h2{
    font-family: 'Playfair Display', serif;
    font-weight: 900;
    color: white;
    width: 52%;
    font-size: 7.5vh;
    height: 60%;
    display: flex;
    align-items: center;
    margin-left: 4vw;
}

.purpleBox p{
    width: 33%;
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 2.7vh;
    align-items: center;
    display: flex;
    margin-right: 2vw;
    height: 95%;
    display: flex;
    align-content: center;
}

.boxOne{
    display: flex;
    flex-direction: column;
    width: 45%;
    position: relative;
    top: -5rem;

}
.boxOne img{
    position: relative;
    width: 80%;
    left: 8vw;
}

.boxOne div{
    width: 60%;
    background-color: #9767A9;
    position: relative;
    left: 16rem;
    top: -13rem;
    height: 60vh;
    align-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.boxOne h2{
    font-family: 'Playfair Display', serif;
    color: white;
    height: 30%;
    font-weight: 900;
    font-size: 2vw;
    display: flex;
    align-items: center;
    width: 80%;
}

.boxOne p{
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
    color: white;
    width: 90%;
    height:65%;
    align-items: center;
    display: flex;
    font-size: 1.3vw;
}

.boxTwo{
    position: relative;
    bottom: 52rem;
    right: -60rem;
    width: 45%;
}

.boxTwo div{
    width: 70%;
    background-color: #9767A9;
    position: relative;
    left: 10rem;
    top: -12rem;
    height: 55vh;
    align-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.boxTwo h2{
    font-family: 'Playfair Display', serif;
    color: white;
    height: 30%;
    font-weight: 900;
    font-size: 2vw;
    display: flex;
    align-items: center;
    width: 80%;
}

.boxTwo p{
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
    color: white;
    width: 90%;
    height:65%;
    align-items: center;
    display: flex;
    font-size: 1.3vw;
}

.boxThree{
    position: relative;
    top: -82rem;
    left: 7rem;
    width: 45%;
}

.boxThree div{
    width: 70%;
    background-color: #9767A9;
    position: relative;
    left: 8rem;
    top: -12rem;
    height: 40vh;
    align-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.boxThree h2{
    font-family: 'Playfair Display', serif;
    color: white;
    height: 30%;
    font-weight: 900;
    font-size: 2vw;
    display: flex;
    align-items: center;
    width: 80%;
}

.boxThree p{
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
    color: white;
    width: 90%;
    height:65%;
    align-items: center;
    display: flex;
    font-size: 1.4vw;
}

.boxFour {
    position: relative;
    top: -127rem;
    left: 60rem;
     width: 40%;
}

.boxFour div{
    width: 70%;
    background-color: #9767A9;
    position: relative;
    left: 10rem;
    top: -12rem;
    height: 42vh;
    align-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.boxFour h2{
    font-family: 'Playfair Display', serif;
    color: white;
     height: 30%;
    font-weight: 900;
    font-size: 2vw;
    display: flex;
    align-items: center;
    width: 80%;
}

.boxFour p{
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
    color: white;
    width: 90%;
    height:65%;
    align-items: center;
    display: flex;
    font-size: 1.2vw;
}

.boxFive {
    position: relative;
    top: -153rem;
    left: 7rem;
    width: 45%;
}

.boxFive div {
    width: 70%;
    background-color: #9767A9;
    position: relative;
    left: 10rem;
    top: -12rem;
    height: 52vh;
    align-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.boxFive h2{
    font-family: 'Playfair Display', serif;
    color: white;
    height: 30%;
    font-weight: 900;
    font-size: 2vw;
    display: flex;
    align-items: center;
    width: 80%;
}

.boxFive p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
    color: white;
    width: 90%;
    height:65%;
    align-items: center;
    display: flex;
    font-size: 1.3vw;
}

.boxSix {
    position: relative;
    top: -203rem;
    left: 60rem;
    width: 45%;
}

.boxSix div {
    width: 70%;
    background-color: #9767A9;
    position: relative;
    left: 10rem;
    top: -12rem;
    height: 42vh;
    align-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.boxSix h2{
    font-family: 'Playfair Display', serif;
    color: white;

    height: 30%;
    font-weight: 900;
    font-size: 2vw;
    display: flex;
    align-items: center;
    width: 80%;
}

.boxSix p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
    color: white;
    width: 90%;
    height:65%;
    align-items: center;
    display: flex;
    font-size: 1.3vw;
}

.boxSeven {
    position: relative;
    top: -229rem;
    left: 7rem;
    width: 45%;
}

.boxSeven div {
    width: 70%;
    background-color: #9767A9;
    position: relative;
    left: 10rem;
    top: -12rem;
    height:35vh;
    align-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.boxSeven h2{
    font-family: 'Playfair Display', serif;
    color: white;
    height: 30%;
    font-weight: 900;
    font-size: 2vw;
    display: flex;
    align-items: center;
    width: 80%;
}

.boxSeven p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
    color: white;
    width: 90%;
    height:65%;
    align-items: center;
    display: flex;
    font-size: 1.3vw;
}

.cacho{
    position: relative;
    width:30%;
    top: -260rem;
    left: 72rem;
}

.pics{
    position: absolute;
    top: 540vh;
    width: 99%;
    align-items: center;
    display: flex;
}

.pics1{
    display: flex;
    width: 40%;
    margin-left: 2vw;
}
.box2{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 70%;
    width: 80%;
}

.bey, .mbj{
    height: 33%;
}

.taisA{
    margin-top: 1vh;
}

.pics2{
    margin-left: 2vw;
}

.blackmodel{
    width: 20vw;
}

.model{
    width: 13.5vw;
    overflow: hidden;
    object-fit: cover;
}

.snoop{
    margin-top: rem;
}

.afro{
    position: absolute;
    top:1.3vh;
    left: 59vw;
}
.afroman{
    width: 20.3vw;
}

.blackman{
    position: absolute;
    top: 17rem;
    left: 95rem;
}

.black{
     width: 25vh; 
}

.blackgirl{
    position: absolute;
    top:13px;
    left: 95rem;
}

.blackgarota{
    width:13vw;
}

footer {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 14vh;
    background-color: #9767A9;
}

.C {
    display: none;
}

.every-direction {
    width: 27vw;
    height: 73%;
    display: flex;
    justify-content: center;
}

.direction {
    display: flex;
    width: 30%;
    padding: 10px;
}

.direction img {
    width: 2.3vw;
}

.direction:hover {
    background-color: #cda3dd;
    cursor: pointer;
}

html {
    scroll-behavior: smooth;
}

footer p {
    font-size: 1vw;
    color: white;
}

.logos{
    display: none;
}

@media (max-width:800px){
   

    main{
        height:100%;
        width: 100%;
    }

    .mobile_menu{
        display: initial;
        display: flex;
        width: 50%;
        border: solid;
        position: relative;
    }

    .menu{
        width: 15%;
        margin-left: 5%;
        border: solid;
    }

    .menu:hover{
        cursor: pointer;
        background-color: #9767A9;
        color: white;
    }

    .menu:hover::before{
        content: Dicas Cronograma Referencia Produtos Cadastre-se Contato;
        background-color: black;
        width: 30vw;
        height: 10vh;
        position: absolute;
    }

    header{
        width: 90%;
        position: fixed;
        z-index: 1;
    }
    header div{
        display: none;
    }

    .logo_caixa{
        width: 50%;
        display: flex;
        justify-content: flex-start;
    }

    .todecacho{
        width: 30%;
    }

    .containertop{
        display: flex;
        flex-direction: column;
        height: 42vh;
        background-position-x: 35%;
    }

    .containertop h1{
        font-size: 15vw;
       position: relative;
       left: -8rem;
       width: 60%;
       top: 0.7em;
    }

    .containertop h2{
        font-size: 5vw;
        width: 50%;
        position: relative;
        top: -7rem;
        left: -9rem;
    }

    .purpleBox{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .purpleBox h2{
        font-size: 6.2vw;
        width: 80%;
        margin-right: 2rem;
        border: solid;
        height: 30%;
        padding: auto;
    }

    .purpleBox p{
        font-size: 3.7vw;
        width: 70%;
        margin-bottom: 2vh;
        height: 70%;
    }

    .boxOne{
        border: solid red;
        position: relative;
        top:4rem;
        width: 100%;
    }

    .boxOne img{
        width: 70%;
        
    }

    .boxOne div{
        width: 99.9%;
        position: relative;
        left: 0rem;
        top: -7rem;
    }

    .boxOne p{
        width: 80%;
        font-size: 4.5vw;
    }

    .boxOne h2{
        font-size: 8vw;
    }

    .boxTwo{
        position: relative;
        left: 0.01rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        top: 1rem;
        width: 100%;
    }

    .boxTwo img{
        width: 70%;
        position: relative;
        display: flex;
        justify-content: center;
    }

    .boxTwo div{
        width: 100%;
        position: relative;
        left: -0.3rem;
        top: -5rem;
    }

    .boxTwo p{
        font-size: 4.5vw;
        width: 80%;
    }

    .boxTwo h2{
        font-size: 9.2vw;
    }

    .boxThree{
        position: relative;
        left: 0.01rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        top: 1rem;
        width: 100%;
    }
    .boxThree img {
        width: 70%;
    }

    .boxThree div{
        width: 100%;
        position: relative;
        left: -0.1rem;
        top: -5rem;
    }

    .boxThree p{
        width: 80%;
        font-size: 4.7vw;
    }

    .boxThree h2{
        font-size: 7vw;
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .boxFour {
        position: relative;
        left: 0.01rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        top: 1rem;
        width: 100%;
    }

    .boxFour img {
        width: 70%;
    }

    .boxFour div{
        width: 100%;
        position: relative;
        left:-0.4rem;
        top: -5rem;
    }

    .boxFour p{
        font-size: 4.6vw;
        width: 80%;
    }

    .boxFour h2{
        font-size: 7vw;
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .boxFive {
        position: relative;
        left: 0.01rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        top: 1rem;
        width: 100%;
    }

    .boxFive img {
        width: 70%;
    }

    .boxFive div {
        width: 100%;
        position: relative;
        left:-0.4rem;
        top: -5rem;
    }

    .boxFive p{
        font-size: 5vw;
    }

    .boxFive h2{
        font-size: 8vw;
    }

    .boxSix {
        position: relative;
        left: 0.01rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        top: 1rem;
        width: 100%;
    }

    .boxSix img {
        width: 70%;
    }

    .boxSix div {
        width: 100%;
        position: relative;
        left:-0.4rem;
        top: -5rem;
    }

    .boxSix p{
        font-size: 5vw;
    }

    .boxSix h2{
        font-size: 8vw;
    }

    .boxSeven {
        position: relative;
        left: 0.01rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        top: 1rem;
        width: 100%;
    }

    .boxSeven img {
        width: 70%;
    }

    .boxSeven div {
        width: 100%;
        position: relative;
        left:-0.4rem;
        top: -5rem;
    }

    .boxSeven p{
        font-size: 5vw;
    }

    .boxSeven h2{
        font-size: 8vw;
    }

    .cacho {
        display: flex;
        justify-content: center;
        position: relative;
       left:30vw;
       top:2vh;
    }

    .pics{
        position: relative;
        top:8vh;
        width: 85vw;
    }

    .blackpanther{
        display: flex;
        justify-content: space-evenly;
        width: 38vw;
        margin-left: 5vw;
        overflow: hidden;
        margin-top: 2vh;
    }

    .box2{
        position: relative;
        left:-44vw;
        
    }

    .bey{
        width: 53%;
        height: 70%;
        position: relative;
        left: 2vw;
    }

    .mbj{
        width: 56%;
        height: 80%;
        position: relative;
        left: 4vw;
    }

    .tais{
        height: 23vh;
        width: 100%;
        position: relative;
        left: 7vw;
        top:2vh
    }
    
    .taisA{
        width: 36vw;
        margin-right:5vw;
    }

    .gloria{
        width: 84vw;
        margin-top: 1vh;
    }

    .king{
        height: 31vh;
    }

    .pics2{
        position: relative;
        top:850px;
        width: 85vw;
        left: -4rem;
    }

    .model{
        overflow: visible;
        position: relative;
        top: 1vh;
        left: 9vw;
    }

    .blackmodel{
        width:38vw
    }

    .snoop{
        position: relative;
        right: 8vw;
        bottom: 6vh;
    }

    .snopp{
        width: 15vw;
    }

    .afro{
        margin-left: -88vw;
        margin-top: -1vh;
    }

    .afroman{
        width:18vw;
    }

    .blackman{
        margin-left: -100rem;
        margin-top: -16vh;
    }

    .black{
        width: 18vw;
    }

    .blackgarota{
        width: 15vw;
    }

    .blackgirl{
        margin-left: -218vw;
        margin-top: 20vh;
    }

    footer{
        position: relative;
        top:20rem;
        background-color: white;
    }

    footer p {
        color: black;
        font-size: 2.3vw;
        font-weight: 100;
    }

}